.itemDetail {
  height: fit-content;
  width: 316px;
  margin-top: 50px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  border-radius: 20px 20px 0px 0px;
  background-color: lightseagreen;
  box-shadow: 0 0 20px 0 rgb(0 0 0 / 80%);
  text-align: center;
}
.detail {
  position: relative;
  margin: 0;
}
.cart-btn,
.common-btn {
  height: 25px;
  width: 150px;
  margin-top: 5px;
  border: 1px solid #3c5ef4;
  border-radius: 5px;
  font-size: 0.75em;
  font-weight: bold;
  text-align: center;
  color: #3c5ef4;
  cursor: pointer;
}
.cart-btn:disabled,
.common-btn:disabled {
  color: lightslategray;
  
}
.cart-btn:hover,
.common-btn:hover {
  background-color: aquamarine;
  box-shadow: 0 0 20px 0 rgb(0 0 0 / 80%);
}
