.pageCart,
.pageCartEmpty {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.pageCartEmpty {
  background-color: lightseagreen;
}

.itemCart {
  width: 250px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background-color: #e3dfdf;
}
.delete-btn {
  position: relative;
  background-color: transparent;
}
.delete-icon {
  color: red;
}
.delete-icon:active {
  color: black;
}
/* .delete-icon:hover {
  size: 2.5em;
} */
/* hover no funciona */
