.cartContainer,
.pageCartEmpty {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}
.pageCartEmpty {
  min-height: 77vh;
  background-color: #fff;
  padding: 15px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.cartProduct {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.itemCart {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  background-color: #ffffff;
  color: black;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  flex-wrap: wrap;
}
.itemCart:hover {
  background-color: lightseagreen;
  box-shadow: 0 0 20px 0 rgb(0 0 0 / 80%);
}
.cartProductName {
  flex-grow: 2;
  padding: 0 15px;
}
.cartProductPrice {
  flex-grow: 0;
  padding: 0 15px;
}
.cartProductQuant {
  flex-grow: 0;
  padding: 0 15px;
}
.buttons {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.btn-compra {
  height: 25px;
  width: 150px;
  margin: 5px;
  border: 1px solid #3c5ef4;
  border-radius: 5px;
  font-size: 0.75em;
  font-weight: bold;
  text-align: center;
  color: #3c5ef4;
  cursor: pointer;
}
.btn-compra:hover {
  background-color: aquamarine;
  box-shadow: 0 0 20px 0 rgb(0 0 0 / 80%);
}

.btn-compra:active {
  background-color: #fafaaf;
}
button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background-color: #e3dfdf;
}
.delete-btn {
  position: relative;
  background-color: transparent;
}
.delete-icon {
  color: red;
}
.delete-icon:active {
  color: black;
}

.cartForm {
  min-height: 100%;
  width: 28vw;
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  /* border: 1px solid; */
}
.divCart {
  width: 70vw;
}
.cartInput {
  margin-bottom: 5px;
  border-radius: 5px;
}
.cartTotalPrice {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 5px;
    font-weight: bold;
    font-size: 1.5em;
}
.cartTotalPrice__total {

}
.oops {
  font-family: 'Bubblegum Sans', cursive;
  font-size: 3em;
  color: red;
}
