.div-cart {
  display: flex;
  flex-direction: row;
  width: 100px;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.cart {
  position: relative;
  top: 1.5vh;
  height: 7vmin;
  align-content: center;
}
span {
  padding: 0px 4px;
  font-size: 0.75em;
  font-weight: bold;
  color: lightyellow;
}
