.NavBar {
  position: relative;
  width: 100vw;
  min-height: 25vh;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.logo {
  width: 15vw;
  display: flex;
}
